[mysqld]

# basic settings #

port=3306
socket=/var/lib/mysql/mysql.sock
datadir=/home/mysql/data
#transaction_isolation=READ-COMMITTED
explicit_defaults_for_timestamp=true

# log settings #

log-error=/home/mysql/log/error.log
general_log=1
general_log_file=/home/mysql/log/query.log
slow_query_log=1
slow_query_log_file=/home/mysql/log/slow_query.log
long_query_time=1
log_queries_not_using_indexes=ON
log_bin=/home/mysql/log/mysql-bin
binlog_format=mixed
relay_log=/home/mysql/log/relay-bin

# connection #

back_log=100
max_connections = 512


[mysqld_safe]
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
